@import url(../assets/css/index.css);

.content {
    margin: auto;
    width: 80vw;
    min-height: 80vh;
    height: max-content;
    max-height: 1000px;
    overflow: auto;
}

.mixed-news-section {
    margin: auto;
}

.unified-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрирование элементов */
    gap: 20px;
    margin: 10px auto;
    padding: 0 20px; /* Фиксированные отступы по бокам */
    width: calc(100% - 40px); /* Компенсация padding */
}

.news-card {
    color: #aaa;
    text-decoration: none;
    width: 300px; /* Фиксированная ширина */
    min-height: 150px;
    background: #1a1a1a;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    flex-shrink: 0; /* Запрет сжатия */
}

@media (max-width: 768px) {
    .unified-grid {
        gap: 15px;
        padding: 0 10px;
        width: calc(100% - 20px);
    }
    
    .news-card {
        width: 100%; /* На всю ширину на мобильных */
        max-width: 400px; /* Максимальное ограничение */
    }
}


.news-card:hover {
    transform: translateY(-5px);
}

.news-source {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 0.7rem;
    background: rgba(0,0,0,0.8);
    padding: 3px 8px;
    border-radius: 12px;
    text-transform: uppercase;
}

.news-date {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 0.7rem;
    background: rgba(0,0,0,0.8);
    padding: 3px 8px;
    border-radius: 12px;
}


.news-title, .news-content {
    width: calc(100% - 16px); /* 8px padding с каждой стороны */
    margin-left: 8px;
    margin-right: 8px;
}

.news-title {
    color: whitesmoke;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-content {
    margin:3px 0px;
    font-size: 0.8rem;
    color: #aaa;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-loader {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
}

.news-thumbnail img {
    min-width: 300px;
    min-height: 150px;
    max-height: 150px;
}