@import url(/assets/css/index.css);

body{
    background-size:cover ;
}







/*---------------------------Header---------*/

/*---------------------------Header---------*/

/*---------------------------Main---------*/

/*---------------------------Main---------*/

/*---------------------------Footer---------*/

footer{
    position: absolute;
    bottom: 0px;
}