@import url(../assets/css/index.css);
/* Добавьте в index.css или news.css */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    flex: 1;
}

footer {
    background: #1a1a1a;
    color: gainsboro;
    margin-top: auto; /* Важно! */
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}